configuration.php
.buildpath
.project
.settings/*
*.jpa
*.log
cache/*
logs
my_error_log
administrator/my_error_log
/tmp
libraries/dompdf/lib/fonts/log.htm

# Ignore most hidden files
.*
!.gitignore
!.htaccess
temp.sql
