.buildpath
.project
.settings/*
*.txt
*.jpg
cache/*
logs
robots.txt
/tmp
fabrik_build/output/
/build_config_private.ini
/images
libraries/dompdf/lib/fonts/log.htm

# Ignore most hidden files
.*
!.gitignore
!.htaccess

# petsupervisor and hdlnerd archived separately
petsupervisor.com
hdlnerd.com

