@charset "utf-8";
/* CSS Document Copyright © */
h2,
h2 a,
.module_ms3 .pad-title h3{
	color: #D8E506;
	font-size: 20px;
	font-weight: bold;
}
a{
	color: #B7C205;
}
body #sliderNav a:link, 
body #sliderNav a:active, 
body #sliderNav a:visited, 
body #sliderNav a:hover{
	background-color:#D8E506;
}
.module_ms1 .pad3 .pad-title{
	background-color: #D9E506;
}

.module_ms2 .pad3 .pad-title h3{
	color: #D9E506; 
}
.footer-wrapper a:hover{
 box-shadow:0 -6px 6px -6px #B7C205 inset;
}
body .shackSliderslider .slideTitle {
	background-color: #B7C205;
}
div.cat-children li{
   border:1px #B7C205 outset;
}
